<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Check! - Gestión de Tareas</title>        
    </head>
    <body>
        <h1>Check! - Gestión de Tareas</h1>

        <section id="banner">
            <img src="./imagenes/banner.jpg">
            <div class="contenedor">
                <h2>Descripción General</h2>
                <p>Bienvenido a Check!, tu herramienta para organizar y gestionar tus tareas diarias.<br>Agrega, organiza y completa tus pendientes de manera fácil y rápida.</p>

            </div>
            
        </section>

        <section id="bienvenido">
            <h2>Check: La Web de Gestión y Seguimiento de Tareas</h2>
            <p>Check es una plataforma diseñada para facilitar la organización y gestión de tareas diarias. Pensada para ser intuitiva y accesible, esta web permite a los usuarios agregar,<br> visualizar y hacer seguimiento de sus actividades pendientes de manera sencilla. Además, ofrece un espacio para que los usuarios compartan su opinión sobre el servicio, <br>lo que ayuda a mejorar la experiencia de uso.</p>
        </section>
        
        <section id="blog">
            <h2>Características de la Web</h2>
            <div class="contenedor">
                <article>
                    <img src="imagenes/imagen1.jpg">
                    <h3>Encuesta de Opinión</h3>
                    <p>Check incluye una sección de encuesta que permite a los usuarios compartir su experiencia y sugerencias. La retroalimentación de los usuarios es importante para mejorar la plataforma y adaptarla mejor a sus necesidades.</p>
                </article>
                
                <article>
                    <img src="imagenes/imagen2.jpg">
                    <h3>Gestión de Tareas</h3>
                    <p>Los usuarios pueden agregar tareas nuevas con un título y una fecha límite, lo cual les ayuda a priorizar y cumplir sus objetivos. Esta funcionalidad está diseñada para que el usuario siempre tenga una visión clara de lo que necesita hacer.</p>
                </article>
                
                <article>
                    <img src="imagenes/imagen3.jpg">
                    <h3>Visualización de Tareas Activas y Completadas</h3>
                    <p>La página organiza las tareas en dos secciones principales: tareas pendientes y tareas completadas. Esto permite al usuario llevar un registro de su progreso, promoviendo una sensación de logro al completar sus objetivos.</p>
                </article>
                <article>
                    <img src="imagenes/imagen4.jpg">
                    <h3>Interfaz Simple y Funcional</h3>
                    <p>La interfaz de Check está diseñada con un enfoque minimalista para que los usuarios puedan navegar de manera rápida y sin distracciones. La estructura clara y los elementos bien organizados facilitan el uso, incluso para aquellos con poca experiencia en aplicaciones de gestión de tareas.</p>
                </article>
                    
            </div>
        
        </section>
        
        <section id="info">
            <h3>Posibles testimonios</h3>
                <img src="imagenes/persona1.jpg">
                <h3>Max</h3>
                <h4>awdw awdawda daw dawdawd wd awda wdawda wdawd awda wdawd awdawd a</h4>

                <img src="imagenes/persona2.jpg">
                <h3>Ana</h3>
                <h4>awdw awdawda daw dawdawd wd awda wdawda wdawd awda wdawd awdawd a</h4>

                <img src="imagenes/persona3.jpg">
                <h3>Paola</h3>
                <h4>awdw awdawda daw dawdawd wd awda wdawda wdawd awda wdawd awdawd a</h4>


        </section>

    </body>
</html>